@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* "Default" */

:root {
    --mobile-width: 768px;
    --offset-hide-form-mobile: 0px;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
}

body {
    height: 100vh;
    margin: 0;
}

label {
    display: block;
}

input:not([type=radio]),
select {
    border: 2px solid #C8C8C8;
    border-radius: 8px;
    padding: 0px 8px;
    height: 40px;
    width: 100%;
}

input[type='radio'] {
    accent-color: #201F1F;
    height: 16px;
    width: 16px;
}

/* Utility */

.mt-4 {
    margin-top: 1rem;
}

.mt-6 {
    margin-top: 1.5rem;
}


.btn {
    background-color: #201F1F;
    border: 2px solid #201F1F;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0;
    text-align: center;
    transition: 0.2s ease-in-out;
    width: 100%;
    gap: 6px;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.btn:disabled {
    background-color: #908B8B;
    border-color: #908B8B;
    opacity: 0.7;
}

.btn:disabled:hover {
    cursor: default;
    opacity: 0.7;
}

.btn-secondary {
    background-color: white;
    color: #201F1F;
}

.btn-secondary:hover {
    background-color: #eeeded;
    border-color: rgba(32, 31, 31, 0.6);
    opacity: 1.0;
}

.btn-secondary.active {
    background-color: #E2453C;
    /* border-color: #E2453C; */
    color: white;
    opacity: 1.0;
}

/* Animation */

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Leaflet */

#map {
    height: 100vh;
}

/* .cursor-marker {
    cursor: url(./../images/marker.png) 16 38, auto !important;
} */
.cursor-marker-0 {
    cursor: url(./../images/marker.png) 16 38, auto !important;
}

.cursor-marker-1 {
    cursor: url(./../images/marker_red.png) 16 38, auto !important;
}

.leaflet-interactive {
    cursor: inherit;
}

/* Legend */

.legend-container {
    background-color: #F9F9F9;
    border: 2px solid #C8C8C8;
    border-radius: 16px;
    bottom: 32px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.17);
    display: flex;
    flex-direction: row;
    padding: 8px;
    right: 32px;
    position: fixed;
    z-index: 1000;
}

.legend-container.hidden {
    display: none;
}

.legend-container .column {
    display: flex;
    flex-direction: column;
    max-width: 100px;
}


.legend {
    border: 0;
    border-radius: 8px;
    margin: 0;
}

.legend-entry {
    color: black;
    height: 40px;
    /* line-height: 20px; */
    text-align: center;
    width: 96px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.legend-entry:first-of-type {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.legend-entry:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.legend-entry p {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.legend-entry .timelimit {
    /* line-height: 24px; */
    /* line-height: 36px; */
    flex-grow: 2;
    font-size: 1em;
}

.legend-entry .area {
    flex-grow: 1;
    font-size: 0.8em;
}

.legend-entry .area span {
    font-size: 12px;
} 

.legend-controls {
    align-items: center;
    display: flex;
    width: calc(96px - 2px);
    display: block;
}

.legend-controls.hidden {
    display: none;
}

/* Form */

#form {
    /* max-height: 80vh; */
    /* overflow-y: scroll; */
}

.form-container-outer {
    bottom: 32px;
    left: 32px;
    position: fixed;
    transition: 0.5s ease-in-out;
    z-index: 1000;

}

.form-container {
    background-color: #F9F9F9;
    border: 2px solid #C8C8C8;
    border-radius: 16px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.17);
    padding: 16px;
    max-width: 340px;

    /* Cap form to 80% of the viewport height, scroll if necessary */
    max-height: 80vh;
    overflow: scroll;
}

.toggle-form-display {
    border: 2px solid #C8C8C8;
    border-radius: 8px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.17);
    cursor: pointer;
    height: 40px;
    padding: 8px;
    position: absolute;
    right: -56px;
    top: 0px;
    width: 40px;
}

.toggle-form-display img {
    height: 100%;
    transition: 0.5s ease-in-out;
    width: 100%;
}

.hide-form {
    left: calc(16px - 340px);
}

.hide-form .toggle-form-display img {
    transform: rotate(180deg);
}

.form-container h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 24px;
}

.form-group {
    margin-bottom: 12px;
}

.form-group label {
    margin-bottom: 8px;
}

.selecting-origin-point {
    color: #E2453C;
    border-color: #E2453C;
}

.selecting-origin-point:hover {
    border-color: rgba(226, 69, 60, 0.6);
    background-color: #F8F2F1;
}

.origin-point-coord {
    font-style: italic;
    margin-top: 6px;
}

.display-mode-container {
    align-items: center;
    display: flex;
    margin-top: 12px;
}

.display-mode-container label {
    display: inline-block;
    user-select: none;
}

.display-mode-container label:not(:first-child) {
    margin-left: 18px;
}

.display-mode-container input {
    position: relative;
    top: 3.5px;
}

.btn-cancel-request {
    background-color: #E2453C;
    border-color: #E2453C;
}

.btn-cancel-request img {
    animation: spin 1s linear infinite;
}


/* Form controls point 2 */

#ctrls-point-2-hidden {
    /* display: block; */
    max-height: 32px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

#ctrls-point-2-inner {
    /* display: none; */
    max-height: 0px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

#ctrls-point-2-hidden.hidden {
    max-height: 0px;
    /* display: none; */
    transition: 0.2s ease-in-out;
}

#ctrls-point-2-inner.hidden {
    /* display: block; */
    max-height: 100px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.closable-label {
    display: flex;
    justify-content: space-between;
}

.clickable-label {
    cursor: pointer;
    font-weight: 600;
    color: #201f1f80;
    text-decoration: none;
}

.clickable-label:hover {
    color: #201F1F;
    text-decoration: none;
}

/* Mobile */
.coord-mobile {
    display: none;
}

@media only screen and (max-width: 900px) {

    * {
        font-size: 0.8rem;
    }

    :not(.hide-form) .toggle-form-display {
        /* position: fixed; */
        top: -56px;
        right: 0px;
        transition: 0.5s ease-in-out;
    }

    .hide-form .toggle-form-display {
        top: 0px;
        right: -56px;
        transition: 0.5s ease-in-out;
    }

    .coord-mobile {
        display: block;
        position: fixed;
        width: calc(100% - 64px);

    }

    .aiming.hide-form>.coord-mobile {
        bottom: 32px;
        /* offset form */
        left: 32px;
        transition: 0.5s ease-in-out;
    }

    .coord-mobile {
        bottom: -128px;
        left: 32px;
        transition: 0.5s ease-in-out;
    }

    /* Legends */

    .legend-entry {
        /* height: 16px; */
        /* line-height: 16px; */
        width: 48px;
    }

    .legend-controls {
        width: 48px;
    }

}

@media only screen and (orientation:landscape) and (max-width: 900px) {
    :not(.hide-form) .toggle-form-display {
        /* position: fixed; */
        top: 56px;
        right: -56px;
        transition: 0.5s ease-in-out;
    }
}




/* That awesome spinner ! */


.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: auto;
  color: #20202080;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  color: #20202080;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
