@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
}

body {
    margin: 0;
}

#map {
    height: 100vh;
}

.btn {
    background-color: #201F1F;
    border: 2px solid #201F1F;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0;
    text-align: center;
    transition: 0.2s ease-in-out;
    width: 100%;
    gap: 6px;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.btn-secondary {
    background-color: white;
    color: #201F1F;
}

.btn-secondary:hover {
    background-color: #eeeded;
    border-color: rgba(32, 31, 31, 0.6);
    opacity: 1.0;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.legend-container {
    background-color: #F9F9F9;
    border: 2px solid #C8C8C8;
    border-radius: 16px;
    bottom: 32px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.17);
    display: flex;
    flex-direction: column;
    padding: 8px;
    right: 32px;
    position: fixed;
    z-index: 1000;
}

.legend {
    border: 0;
    border-radius: 8px;
    margin: 0;
}

.legend-entry {
    color: black;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 96px;
}

.legend-entry:first-of-type {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.legend-entry:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.form-container-outer {
    bottom: 32px;
    left: 32px;
    position: fixed;
    transition: 0.5s ease-in-out;
    z-index: 1000;
}

.form-container-outer .toggle-form-display img {
    transition: 0.5s ease-in-out;
}

.form-container {
    background-color: #F9F9F9;
    border: 2px solid #C8C8C8;
    border-radius: 16px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.17);
    overflow: hidden;
    padding: 16px;
    width: 340px;
}

.form-container h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 24px;
}

.input-container {
    margin-bottom: 12px;
}

.input-container label {
    margin-bottom: 8px;
}

label {
    display: block;
}

input:not([type=radio]),
select {
    border: 2px solid #C8C8C8;
    border-radius: 8px;
    padding: 0px 8px;
    height: 40px;
    width: 100%;
}

input[type='radio'] {
    accent-color: #201F1F;
    height: 16px;
    width: 16px;
}

.display-mode-container {
    margin-top: 12px;
}

.display-mode-container label {
    display: inline-block;
    user-select: none;
}

.display-mode-container input {
    position: relative;
    top: 3.5px;
}

.toggle-form-display {
    border: 2px solid #C8C8C8;
    border-radius: 8px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.17);
    cursor: pointer;
    height: 40px;
    padding: 10px;
    position: absolute;
    right: -56px;
    top: 0px;
    width: 40px;
}

.toggle-form-display img {
    height: 100%;
    width: 100%;
}

.hide-form {
    left: calc(16px - 340px);
}

.hide-form .toggle-form-display img {
    transform: rotate(180deg);
}

.choosing-origin-point {
    color: #E2453C;
    border-color: #E2453C;
}

.choosing-origin-point:hover {
    border-color: rgba(226, 69, 60, 0.6);
    background-color: #F8F2F1;
}

.origin-point-coord-container {
    font-style: italic;
    margin-top: 6px;
}
